body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.table_container {
  border:2px solid;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  width:auto;
}

#table_head {
 background-color: #7f7f7f;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #474747;
  text-align: center;
  color: #f7f7f7;
}

